:root {

    --azul: #05163b;
    --violeta: #6037b2;
    --turquesa: #01939d;
    --amarillo: #feab08;
    --rojo: #fd3c46;
    --blanco: #fffefe;

    --texto: #05163b;
    --texto-suave: #5f6675;

    --borde: #e5e7eb;

    --radio: 16px;

}